.jumbotron{
  background: orange; 
  padding: 5px;
  
}


li {
  padding: 5px;
  margin-bottom: 5px;
  margin-left: -30px;
  background: orange;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  
}

.form-group {
  margin-bottom: 5px;
}
